.counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-btn {
  margin: 10px 0;
  width: 100px;
}

.counter-number {
  font-size: 200px;
  font-weight: bold;
  color: gray;
}